<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up!</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" placeholder="Enter your name here.">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="email" placeholder="Enter email here">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">password</label>
                    </td>
                    <td>
                        <input type="password" name="password" id="password" placeholder="Enter your password here.">
                    </td>
                </tr>
                <tr>

                    <!-- <label for="password">password</label> -->
                    <!-- <input type="password" name="password" id="password" placeholder="Enter your password here."> -->
                </tr>

                <tr><td></td><button type="submit">Submit</button></td></tr>


                </table>
            </form>
        </div>
</body>
</html>